Packages
.build
xcuserdata
*.xcodeproj
DerivedData/
.DS_Store
db.sqlite
.swiftpm
.env
.env.*
!.env.example
.vscode
xcresults
TestReports
Shared/app.log
Shared/init-scripts
Shared/db
Shared/config.json
xcresults
AllureReports/
.vscode